@media (max-width: 375px) {
    body{
        width: 100vw;
    }

    .logo{
        margin-left: 30px;
    }

    .update{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .update__text span{
        font-size: 32px;
        display: flex;
        text-align: center;
    }
}

@media (max-width: 450px){
    header{
        margin-right: 1500px;
        display: flex;
        flex-direction: row;
        width: 100vw;
    }
   
    .navegation__bar,
    .client{
        display: none;
    }

    .bars__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        font-size: 2rem;
        margin-right: 10px;
        background-image: linear-gradient(to bottom, #2F93D0, #003580);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .logo{
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 135px;
        font-size: 4rem;
        background-image: linear-gradient(to bottom, #2F93D0, #003580);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: black;
    }

    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 90vh;
    }

    .home__title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 3.5rem;
    }

    .home__description span{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 24px;
        margin: 12px 0px 0px 12px;
    }

    .offers{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 70vh;
    }

    .image__company{
        display: none;
    }

    .offers__interactions{
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;    
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
    }

    .offers__title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        font-size: 32px;
    }

    .image-offers-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        visibility: visible;
        width: 300px;
    }

    .offers__text{
        margin-top: 0;
        font-size: 20px;
    }

    .personalized__button__learn{
        width: 200px;
        display: flex;
        justify-content: center;
        margin: 10px 50px;
    }

    .about__us{
        display: grid;
        justify-content: center;
        width: 100vw;
        height: 150vh;
        align-items: center;
    }

    .about__us__cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .about__us__icons span{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 80px;
        font-size: 16px;
    }

    .uptade{
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .uptade__text{
        font-size: 20px;
    }

    .contact{
        height: 70vh;
    }
    
}

